html,
body {
  height: 100%;
}

body {
  color: $default;
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  @extend %dmsans-700;
  color: $titlebig;
}

