$default: #243f4d;
$title: #436372;
$accent: #a3bbc8;
$rare: #8d8d8d;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 400;
}

%DMSans-400 {
  font-family: 'DMSans-Regular',
  sans-serif;
  font-weight: 400;
}

%DMSans-500 {
  font-family: 'DMSans-Regular',
  sans-serif;
  font-weight: 400;
}

%DMSans-700 {
  font-family: 'DMSans-Regular',
  sans-serif;
  font-weight: 400;
}
